<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Winterra</title>
    <link type="text/css" href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <link type="text/css" href="~/assets/css/jquery-ui-timepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/admin.css?v=1" />
    @* CK EDITOR *@
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/45.0.0/ckeditor5.css" crossorigin>
	<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5-premium-features/45.0.0/ckeditor5-premium-features.css" crossorigin>

    <script src="~/assets/js/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/jquery-migrate-1.4.1.min.js"></script>
    <script src="~/assets/js/jquery.menu.js"></script>
    <script src="~/assets/js/common.js"></script>
    <script src="~/assets/js/wrest.js"></script>
    <script src="~/assets/js/placeholders.min.js"></script>
</head>
<body>
    @RenderBody()
    <script src="~/assets/js/admin.js"></script>
    <!-- #CKEDITOR-->
    <script src="https://cdn.ckeditor.com/ckeditor5/45.0.0/ckeditor5.umd.js" crossorigin></script>
    <script src="https://cdn.ckeditor.com/ckeditor5-premium-features/45.0.0/ckeditor5-premium-features.umd.js" crossorigin></script>
    <script src="https://cdn.ckbox.io/ckbox/2.6.1/ckbox.js" crossorigin></script>
    <script src="~/assets/js/ckeditor.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>