@model Winterra.Models.ViewModels.AccountEditViewModel

<div class="container_wr" id="main-content">
    <form asp-action="Edit" asp-route-menuIn="@Model.MenuIn">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Account.Id" />
        <div class="row">
            <div class="col-md-6">
                <div class="tbl_frm02 tbl_wrap">
                    <table>
                        <tbody>
                            <tr>
                                <th><label>Account Information</label></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td><label asp-for="Account.Name"></label></td>
                                <td><input class="frm_input" asp-for="Account.Name" />
                                <span class="text-danger" asp-validation-for="Account.Name"></span></td>
                            </tr>
                            <tr>
                                <td><label asp-for="Account.Verified"></label></td>
                                <td><input class="frm_input" asp-for="Account.Verified" /><span class="text-danger" asp-validation-for="Account.Verified"></span></td>
                            </tr>
                            <tr>
                                <th><label>Game Progress</label></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td><label asp-for="Account.Gems"></label></td>
                                <td><input class="frm_input" asp-for="Account.Gems" /><span class="text-danger" asp-validation-for="Account.Gems"></span></td>
                            </tr>
                            <tr>
                                <td><label asp-for="Account.Banned"></label></td>
                                <td>
                                    <input class="frm_input" asp-for="Account.Banned" />
                                    <span class="text-danger" asp-validation-for="Account.Banned"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Submit Button (full width) -->
        <div class="form-group mt-4 text-center td_edt">
            <button type="submit" class="btn btn_03 edit_btn">Save</button>
        </div>
    </form>
</div>
