<div class="container_wr" id="main-content">
    <section>
        <h2>Users</h2>
        @await Html.PartialAsync("_AccountTablePartial", new AccountTableModel
        {
            MenuIn = Model.MenuIn,
            Items = Model.UserAccountList
        })

        <div class="btn_list03 btn_list">
            <a asp-controller="Account" asp-action="Index" asp-route-menuIn="@Model.MenuIn">See All</a>
        </div>
    </section>
    	
    <section style="float:left;width:49%;">
		<h2>Recent Earning Activity</h2>
	</section>
	<section style="float:right;width:49%;">
		<h2>Full Status Record</h2>
		<div class="tbl_head01 tbl_wrap">
			<table>
				<thead>
					<tr>
						<th scope="col">Status</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="td_itopt_tl">Total number of players</td>
						<td class="td_numincome">@Model.ActivePlayerCount</td>
					</tr>
					<tr>
						<td class="td_itopt_tl">Total number of active players</td>
						<td class="td_numincome">@Model.OnlinePlayerCount</td>
					</tr>
                    <tr>
						<td class="td_itopt_tl">Total in-game Stellar Circulation</td>
						<td class="td_numincome">@Model.InGameStellarCount</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<div style="clear:both;"></div>
</div>