<div class="container_wr" id="main-content">
    <section>
        <h2>News</h2> 
        @await Html.PartialAsync("_ContentTablePartial", new ContentTableModel
        {
            MenuIn = Model.MenuIn,
            Items = Model.NewsContentList
        }) 

        <div class="btn_list03 btn_list">
            <a asp-controller="Content" asp-action="News" asp-route-menuIn="@Model.MenuIn">See All</a>
        </div>
    </section>
</div>