<section>
    <div class="body-header">
        <h1>Terms of use</h1>
    </div>
    <div class="legacy-background flex-column justify-content-center align-items-center">
        <div class="container_container justify-content-start flex-column align-items-start conduct">
            @foreach(var stellar in Model.TermsAndPolicyItemList.ItemList){
                <br />
                    <h3>@stellar.Title</h3>
                    <br />
                    @Html.Raw(stellar.Content)
                <br />
            }
        </div>
</section>