@model StellarIndexViewModel

<section>
    <div class="stellar-container">
        <img class="stellar-coin" src="~/assets/images/stellar-coin.gif" alt="">
        <div class="stellar-paper">
            <div class="ms-5 ps-5 mt-5">
                @foreach(var stellar in Model.StellarItemList.ItemList){
                    <br />
                    <h3>@stellar.Title</h3>
                    <br />
                    @Html.Raw(stellar.Content)
                    <br />
                }
            </div>
    </div>
</section>