<section class="lore-container">
    <div class="lore-header">
        <h2>Chronicles of Winterra</h2>
        <p>Unravel the stories of Winterra and the Terrarians</p>
    </div>
    <div class="lore-body-view">
        <div class="page-item">
            <img src="img/page 1.png" alt="">
        </div> 
    </div>
</section>