@model LoreDetailsViewModel

<section class="lore-container">
    <div class="lore-header">
        <h2>Chronicles of Winterra</h2>
        <p>Unravel the stories of Winterra and the Terrarians</p>
    </div>
    <div class="lore-body-view">
        <div class="page-item container">
            @foreach(var loreImg in Model.Item.ImageList){
                <img src="@loreImg" alt="" onerror="this.onerror=null;this.src='/assets/images/placeholder.png';">
            }
        </div> 
    </div>
</section>
