@using Winterra.Models.ViewModels

<div class="container_wr" id="main-content">
    <section>
        <h2>@(Model.MenuIn)</h2> 
        @await Html.PartialAsync("_AccountTablePartial", new AccountTableModel
        {
            MenuIn = Model.MenuIn,
            Items = Model.AdminAccountList
        })

        <div class="btn_list03 btn_list">
            <a asp-controller="Account" asp-action="Administrator" asp-route-menuIn="@Model.MenuIn">See All</a>
        </div>
    </section>
</div>