@using Winterra.Models.ViewModels;

<div class="container_wr" id="main-content">
    <section>
        <h2>@(Model.MenuIn)</h2> 
        @await Html.PartialAsync("_ContentTablePartial", new ContentTableModel
        {
            MenuIn = Model.MenuIn,
            Items = Model.HighlightContentList
        }) 

        <div class="btn_list03 btn_list">
            <a asp-controller="Content" asp-action="Highlights" asp-route-menuIn="@Model.MenuIn">See All</a>
        </div>
    </section>
</div>