@using Winterra.Models.ViewModels

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@Model.MenuTitle</title>
    <link type="text/css" href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <link type="text/css" href="~/assets/css/jquery-ui-timepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/admin.css?v=1" />
    @* CK EDITOR *@
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/45.0.0/ckeditor5.css" crossorigin>
	<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5-premium-features/45.0.0/ckeditor5-premium-features.css" crossorigin>

    <script src="~/assets/js/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/jquery-migrate-1.4.1.min.js"></script>
    <script src="~/assets/js/jquery.menu.js"></script>
    <script src="~/assets/js/common.js"></script>
    <script src="~/assets/js/wrest.js"></script>
    <script src="~/assets/js/placeholders.min.js"></script>
</head>
    <body>
        <header id="hd">
        <div id="hd_top">
            <button type="button" id="btn_gnb" class="btn_gnb_close">Menu</button>
            <div id="logo">
                <a href="#"><img src="~/assets/images/logo.png" alt="Admin Page Logo" /></a>
            </div>
            <div id="tnb">
                <ul>
                    <li class="tnb_li"><a href="/" class="tnb_community" target="_blank" title="Go to Site">Go to Site</a></li>
                    <li class="tnb_li">
                        <button type="button" class="tnb_mb_btn">@(Model.LoginUserInfo.Email)<span class="~/assets/images/btn_gnb.png">Open Menu</span></button>
                        <ul class="tnb_mb_area">
                            <li><a href="#">Admin Info</a></li>
                            <li id="tnb_logout"><a asp-area="Admin" asp-controller="Account" asp-action="Logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <nav id="gnb" class="gnb_large">
            <h2>Main Admin Menu</h2>
            <ul class="gnb_ul">
                @* <li class="gnb_li@(Model.MenuOut == 1 ? " on" : "")">
                    <button type="button" class="btn_op menu-100 menu-order-1" title="Settings">Settings</button>
                    <div class="gnb_oparea_wr">
                        <div class="gnb_oparea">
                            <h3>Settings</h3>
                            <ul>
                                <li><a href="#" class="gnb_2da@(Model.MenuIn == "setting" ? " on" : "")">General Settings</a></li>
                                <li><a href="#" class="gnb_2da@(Model.MenuIn == "banner" ? " on" : "")">Ad Banner Management</a></li>
                                <li><a href="#" class="gnb_2da@(Model.MenuIn == "popup" ? " on" : "")">Popup Management</a></li>
                                <li><a href="#" class="gnb_2da@(Model.MenuIn == "sms_auth" ? " on" : "")">SMS Auth Management</a></li>
                                <li><a href="#" class="gnb_2da@(Model.MenuIn == "ip_allow" ? " on" : "")">Allowed Admin IPs</a></li>
                                <li><a href="#" class="gnb_2da@(Model.MenuIn == "ip_deny" ? " on" : "")">Blocked IPs</a></li>
                            </ul>
                        </div>
                    </div>
                </li>   *@
                <li class="gnb_li@(Model.MenuOut == 1 ? " on" : "")">
                    <button type="button" class="btn_op menu-200 menu-order-2" title="User Management">Account Management</button>
                    <div class="gnb_oparea_wr">
                        <div class="gnb_oparea">
                            <h3>Account Management</h3>
                            <ul>
                                <li><a asp-area="Admin" asp-controller="Home" asp-action="Index" class="gnb_2da@(Model.MenuIn == "user" ? " on" : "")">User</a></li>
                                <li><a asp-area="Admin" asp-controller="Home" asp-action="Administrator" class="gnb_2da@(Model.MenuIn == "administrator" ? " on" : "")">Administrator</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="gnb_li@(Model.MenuOut == 2 ? " on" : "")">
                    <button type="button" class="btn_op menu-300 menu-order-3" title="Content Management">Content Management</button>
                    <div class="gnb_oparea_wr">
                        <div class="gnb_oparea">
                            <h3>Content Management</h3>
                            <ul>
                                <li><a asp-area="Admin" asp-controller="Content" asp-action="Characters" class="gnb_2da@(Model.MenuIn == "characters" ? " on" : "")">Characters</a></li>
                                <li><a asp-area="Admin" asp-controller="Content" asp-action="Highlights" class="gnb_2da@(Model.MenuIn == "highlights" ? " on" : "")">Highlights</a></li>
                                <li><a asp-area="Admin" asp-controller="Content" asp-action="Lore" class="gnb_2da@(Model.MenuIn == "lore" ? " on" : "")">Lore</a></li>
                                <li><a asp-area="Admin" asp-controller="Content" asp-action="Features" class="gnb_2da@(Model.MenuIn == "features" ? " on" : "")">Features</a></li>
                                <li><a asp-area="Admin" asp-controller="Content" asp-action="News" class="gnb_2da@(Model.MenuIn == "news" ? " on" : "")">News</a></li>
                                <li><a asp-area="Admin" asp-controller="Content" asp-action="Update" class="gnb_2da@(Model.MenuIn == "update" ? " on" : "")">Update</a></li>
                                <li><a asp-area="Admin" asp-controller="Content" asp-action="CodeOfConduct" class="gnb_2da@(Model.MenuIn == "code-of-conduct" ? " on" : "")">Code of Conduct</a></li>
                                <li><a asp-area="Admin" asp-controller="Content" asp-action="TermsOfUse" class="gnb_2da@(Model.MenuIn == "terms-of-use" ? " on" : "")">Terms of Use</a></li>
                                <li><a asp-area="Admin" asp-controller="Content" asp-action="PrivacyPolicy" class="gnb_2da@(Model.MenuIn == "privacy-policy" ? " on" : "")">Privacy Policy</a></li>
                                <li><a asp-area="Admin" asp-controller="Content" asp-action="Playbook" class="gnb_2da@(Model.MenuIn == "playbook" ? " on" : "")">Playbook</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <script>
        jQuery(function ($) {
        $(".tnb_mb_btn").click(function () {
            $(".tnb_mb_area").toggle();
        });

        $("#btn_gnb").click(function () {
            var $this = $(this);
            $("#container").toggleClass("container-small");
            $("#gnb").toggleClass("gnb_small");
            $this.toggleClass("btn_gnb_open");
        });

        $(".gnb_ul li .btn_op").click(function () {
            $(this).parent().addClass("on").siblings().removeClass("on");
        });
    });
    </script>
    <div id="wrapper">
        <div id="container" class="">
            <h1 id="container_title">@Model.MenuTitle</h1>
            @RenderBody()
            <footer id="ft">
                <p>
                    Copyright &copy; Various Community All rights reserved.<br />
                    <button type="button" class="scroll_top"><span class="top_img"></span><span class="top_txt">TOP</span></button>
                </p>
            </footer>
        </div>
    </div>
    
    <!-- Preview Dialog -->
    <div id="img_dlg" class="img_dlg hidden">
        <div class="img_wrap">
            <img id="prvw_img" class="img_display" />
            <button type="button" class="img_close" onclick="closeDialog()">✕</button>
        </div>
    </div>

    <script>
        $(".scroll_top").click(function () {
            $("body,html").animate({ scrollTop: 0 }, 400);
        });
    </script>
    <script src="~/assets/js/admin.js"></script>
    <!-- #CKEDITOR-->
    <script src="https://cdn.ckeditor.com/ckeditor5/45.0.0/ckeditor5.umd.js" crossorigin></script>
    <script src="https://cdn.ckeditor.com/ckeditor5-premium-features/45.0.0/ckeditor5-premium-features.umd.js" crossorigin></script>
    <script src="https://cdn.ckbox.io/ckbox/2.6.1/ckbox.js" crossorigin></script>
    <script src="~/assets/js/ckeditor.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>