@model Winterra.Models.ViewModels.ErrorViewModel

<div class="d-flex justify-content-center align-items-center w-100 h-100">
    <div class="position-relative">
        <img src="~/assets/img/error401.png" alt="Unauthorized Access">
        <div class="error-body text-center">
            <span class="error-text">401</span>
            <span class="error-details">Oops! You don't have permission to view this page.</span>
            <button onclick="history.back()" class="primary-btn mt-5">Go Back</button>
        </div>
    </div>
</div>
