@model Winterra.Models.ViewModels.ErrorViewModel

<div class="d-flex justify-content-center align-items-center w-100 h-100">
    <div class="position-relative">
        <img src="~/assets/img/error401.png" alt="">
        <div class="error-body">
            <span class="error-text">500</span>
            <span class="error-details">INTERNAL SERVER ERROR</span>
            <button onclick="history.back()" class="primary-btn mt-5">GO BACK</button>
        </div>
    </div>
</div>
