@model Winterra.Models.ViewModels.ErrorViewModel

<section class="error-container">
    <div class="d-flex flex-column align-items-center mt-5 pt-5">
        <img class="error-logo" src="/assets/images/error-logo.png" alt="">
        <span class="error-title">404</span>
        <span class="error-details">Page Not Found</span>
        <button class="error-btn mt-5">Reload</button>
    </div>
</section>