<div class="sort-type mt-5">
    <div class="sort-items">
        <button class="active">Latest</button>
        <button>News</button>
        <button>Updates</button>
        <button>Events</button>
    </div>
</div>