<section>
    <div class="body-header">
        <h1>News & Info</h1>
    </div>
    <div class="legacy-background flex-column justify-content-center align-items-center">
        <div class="container_container justify-content-between flex-column">
            <div class="sort-type mt-5">
                <div class="sort-items">
                    <button class="active">Latest</button>
                    <button>Info</button>
                    <button>Updates</button>
                    <button>Events</button>
                </div>
            </div>

            <div class="card-container mt-5 mb-5">
    
                <div class="card-item">
                    <a href="">
                        <img src="~/assets/images/background.png" alt="">
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <h3>News Title</h3>
                                <span class="news-type">Info</span>
                            </div>
                            <span>April 01, 2025</span>
                        </div>
                    </a>
                </div>
                <div class="card-item">
                    <a href="">
                         <img src="~/assets/images/first.png" alt="">
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <h3>News Title</h3>
                                <span class="news-type">Info</span>
                            </div>
                            <span>April 01, 2025</span>
                        </div>
                    </a>
                </div>
                <div class="card-item">
                    <a href="">
                         <img src="~/assets/images/first.png" alt="">
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <h3>News Title</h3>
                                <span class="news-type">Info</span>
                            </div>
                            <span>April 01, 2025</span>
                        </div>
                    </a>
                </div>
                <div class="card-item">
                    <a href="">
                         <img src="~/assets/images/first.png" alt="">
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <h3>News Title</h3>
                                <span class="news-type">Info</span>
                            </div>
                            <span>April 01, 2025</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
</section>
