@model NewsDetailsVideModel

<section>
    <div class="body-header">
        <h1>News & Updates</h1>
    </div>
    <div class="legacy-background flex-column justify-content-center align-items-center">
        <div class="container_container justify-content-between flex-column">
            @await Html.PartialAsync("_NewsTab", Model.NewsTab)

            <div class="card-container mt-5 mb-5">
                <div class="ckeditor-content">
                    @Html.Raw(Model.NewsItem.Content)
                </div>
            </div>
        </div>
</section>